:root {
    /* Light Theme Colors */
    --bg-color: #ffffff;
    --text-color: #000000;
    --player-bg-color: #ffffff;
    --item-bg-color: rgb(221, 219, 228);
    --arrow-color: #000000;
}

body.dark-mode {
    /* Dark Theme Colors */
    --bg-color: #121212;
    --text-color: #ffffff;
    --player-bg-color: #282828;
    --item-bg-color: #404040;
    --arrow-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--player-bg-color);
    width: 90vw;
    aspect-ratio: 1 / 1;
    margin: auto;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (min-width: 700px) {
    .player {
        width: 40vw;  
    }
} 

.item {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--item-bg-color);
    transition: transform 0.3s ease, z-index 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header {
    width: 100vw;
    min-height: 5vh;
    text-align: center;
    font-size: 2.4rem;
    padding: 2rem 0;
}

.item img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.arrow {
    display: none;
    position: absolute;
    cursor: pointer;
    color: var(--arrow-color);
    /* Add more styles as needed */
}

.left-arrow {
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.right-arrow {
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.up-arrow {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.down-arrow {
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Show arrows when an item is in viewing mode */
.player.is-viewing .arrow {
    display: block;
}

.nav-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.nav-item {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.nav-item:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.bottom-left-corner {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.logo {
    display: block;
    width: 60px;
    height: 60px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.theme-toggle {
    padding: 15px 24px;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 2rem;
}

.footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.container {
    max-width: 600px;
    margin: 0;
    padding: 0 20px;
}